


  .welcome{
    background-image:url('r0000922.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 99vh;
    display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
    
  }

.kangjie{
    font-size: 4vw;
    color:aliceblue;
    position: relative;
    top: 100px;
    
}

.bottom-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-around; /* This will space out the nav items evenly */
    align-items: center;
    padding: 10px 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block; /* Makes the entire area clickable */
  }
  
  /* Add any responsive or additional styling as needed */
  