body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-container nav ul li {
    display: block;
    margin-bottom: 10px;
}

.nav-container nav ul li a {
    text-decoration: none;
    color: white;
    background-color: gray; /* Updated background color */
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: left;
    width: 120px;
    padding-left: 20px;
}

.nav-container nav ul li a:hover {
    background-color: darkgray; /* Slightly darker on hover */
}

.image-aspect-ratio {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 5;
}

.welcome-container h1 {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
